@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  background-color: transparent;
}

.icon:hover {
  fill: red; /* Changes the fill color on hover */
  stroke: blue; /* Changes the stroke color on hover */
}

circle.checked,
circle.unchecked,
path.checked,
path.unchecked {
  cursor: pointer;
}

circle.unchecked {
  fill: #f3f4f6; /* Changes the fill color on hover */
  stroke: #d1d5db; /* Changes the stroke color on hover */
}

circle.unchecked.check-over {
  fill: #e5e7eb; /* Changes the fill color on hover */
  stroke: #9ca3af; /* Changes the stroke color on hover */
}

circle.unchecked.check-over.check-active {
  fill: #6b7280; /* Changes the fill color on hover */
  stroke: #374151; /* Changes the stroke color on hover */
}

circle.checked {
  fill: transparent; /* Changes the fill color on hover */
  stroke: #374151; /* Changes the stroke color on hover */
}
circle.checked.check-over {
  fill: #ebe5ea; /* Changes the fill color on hover */
  stroke: #9ca3af; /* Changes the stroke color on hover */
}

circle.checked.check-over.check-active {
  fill: #6b7280; /* Changes the fill color on hover */
  stroke: #374151; /* Changes the stroke color on hover */
}

path.unchecked.mark {
  stroke: transparent;
}
path.unchecked.mark.check-over {
  stroke: #d1d5db;
}

path.unchecked.mark.check-over.check-active {
  stroke: #374151;
}

.link {
  padding: 4px;
}

.link.active {
  border: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
}

@media (prefers-color-scheme: dark) {
  .link.active {
    border-color: white;
  }
}

@media (prefers-color-scheme: light) {
  .link.active {
    border-color: black;
  }
}

@media (prefers-color-scheme: dark) {
  div.formField,
  form.formField,
  label.formField {
    color: white;
    background-color: #0f172a;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  input.formField {
    color: white;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: white;
    width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  select.formField {
    color: white;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  input.formField[type='checkbox'] {
    color: transparent;
  }
}

.card {
  background-color: #fafafa;
}

li.card {
  color: black;
}
