@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 255 255 255;
    --color-content: 0 0 0;
    --color-accent1: 249 250 251;
    --color-accent2: 243 244 246;
    --color-accent3: 229 231 235;
    --color-accent4: 209 213 219;
    --color-accent5: 156 163 175;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 0 0 0;
      --color-content: 249 250 251;
      --color-accent1: 3 7 18;
      --color-accent2: 17 24 39;
      --color-accent3: 31 41 55;
      --color-accent4: 55 65 81;
      --color-accent5: 75 85 99;
    }
  }
  :root[data-theme='dark'] {
    --color-bkg: 0 0 0;
    --color-content: 249 250 251;
    --color-accent1: 3 7 18;
    --color-accent2: 17 24 39;
    --color-accent3: 31 41 55;
    --color-accent4: 55 65 81;
    --color-accent5: 75 85 99;
  }
  :root[data-theme='light'] {
    --color-bkg: 255 255 255;
    --color-content: 0 0 0;
    --color-accent1: 249 250 251;
    --color-accent2: 243 244 246;
    --color-accent3: 229 231 235;
    --color-accent4: 209 213 219;
    --color-accent5: 156 163 175;
  }
}

body {
  background-color: rgb(var(--color-bkg));
  color: rgb(var(--color-content));
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-accent2)); /* Color of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-accent2)); /* Color of the scrollbar handle on hover */
}

/* Firefox */
html {
  scrollbar-color: rgb(var(--color-accent2)) transparent; /* thumb color, track color */
  scrollbar-width: thin; /* "auto" or "thin" */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  color: rgb(var(--color-accent3));
}

.link:hover {
  color: rgb(var(--color-accent4));
}

.link:active {
  color: rgb(var(--color-accent5));
}

.link.active {
  color: rgb(var(--color-accent5));
  border: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  font-weight: bold;
}

.card {
  background-color: rgb(var(--color-accent1));
  border: rgb(var(--color-accent2));
  border-width: 1px;
  border-style: solid;
}

.card-nulluser {
  background-color: rgb(var(--color-accent1));
  border: rgb(var(--color-accent5));
  border-left-width: 10px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  /* border-width: 1px; */
  border-style: solid;
}

input[type='checkbox'] {
  background-color: transparent;
  color: rgb(var(--color-content));
  accent-color: rgb(var(--color-accent3));
  width: 15px;
  height: 15px;
}
input:hover[type='checkbox'] {
  outline: 1px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: rgb(var(--color-accent3));
  outline-style: solid;
}
input:active[type='checkbox'] {
  outline: 1px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: rgb(var(--color-accent4));
  outline-style: solid;
}

input[type='text'] {
  color: rgb(var(--color-content));
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: rgb(var(--color-accent3));
  width: 100%;
}
input[type='password'] {
  color: rgb(var(--color-content));
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: rgb(var(--color-accent3));
  width: 100%;
}
select {
  background-color: transparent;
}

textarea {
  background-color: transparent;
  border: rgb(var(--color-accent2));
  border-width: 1px;
  border-style: solid;
}



.icon {
  color: rgb(var(--color-accent3));
  background-color: transparent;
}
.icon:hover {
  color: rgb(var(--color-accent4));
}
.icon:active {
  color: rgb(var(--color-accent5));
}

.icon-topnavi {
  color: rgb(var(--color-accent3));
  background-color: transparent;
}
.icon-topnavi:hover {
  color: rgb(var(--color-accent4));
}
.icon-topnavi:active {
  color: rgb(var(--color-accent5));
}

.topnavi {
  background-color: rgb(var(--color-bkg));
  opacity: 1;
}

ul.topnavi {
  color: rgb(var(--color-accent5));
}

button.formActionButton {
  background-color: rgb(var(--color-accent3));
  box-shadow: inset 0 4px 6.8em rgba(0, 0, 0, 0.25);
}
button.formActionButton:hover {
  background-color: rgb(var(--color-accent4));
}
button.formActionButton:active {
  background-color: rgb(var(--color-accent5));
}

h2 {
  font-weight: 600;
  color: rgb(var(--color-accent5));
  background-color: transparent;
}
