@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  padding: 3px;
}

.link.active {
  border: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: white;
}

@media (prefers-color-scheme: dark) {
  div.formField, 
  form.formField, 
  label.formField {
    color: white;
    background-color: #0f172a;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  input.formField {
    color: white;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: white;
    width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  select.formField {
    color: white;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  input.formField[type='checkbox'] {
    color: transparent;
  }
}
