@tailwind base;
@tailwind components;
@tailwind utilities;

@function hsl-difference($color1, $color2) {
  $hue1: hue($color1);
  $hue2: hue($color2);
  $sat1: saturation($color1);
  $sat2: saturation($color2);
  $light1: lightness($color1);
  $light2: lightness($color2);

  $hue-diff: abs($hue1 - $hue2);
  $sat-diff: abs($sat1 - $sat2);
  $light-diff: abs($light1 - $light2);

  @return ($hue-diff, $sat-diff, $light-diff);
}
// SCSS variables
$global-white: 98%;
$global-black: 2%;
$global-red: 100%;
$global-border-radius: 8px;
// Button
$global-border-radius-button-container: 12px;
$global-border-radius-button: 16px;
$global-border-radius-large-button: 9999px;


// 
$global-padding-large: 25px;
$global-padding-small: 12px;
$global-padding-xs: 6px;
$global-gap-large: 25px;

@layer base {
  :root {
    --primary-h: 221;
    --primary-s: 0%;
    --primary-l: 62%;
    --primary-light-l: 98%;
    --primary-dark-l: 2%;
    --primary-light-content-l: 2%;
    --primary-dark-content-l: 98%;
    --primary-light-accent0-l: #{calc(0.95 * $global-white)};
    --primary-light-accent1-l: #{calc(0.9 * $global-white)};
    --primary-light-accent2-l: #{calc(0.8 * $global-white)};
    --primary-light-accent3-l: #{calc(0.7 * $global-white)};
    --primary-light-accent4-l: #{calc(0.6 * $global-white)};
    --primary-light-accent5-l: #{calc(0.5 * $global-white)};
    --primary-light-accent6-l: #{calc(0.25 * $global-white)};
    --primary-light-accent7-l: #{calc(0.18 * $global-white)};
    --primary-light-accent8-l: #{calc(0.12 * $global-white)};
    --primary-dark-accent0-l: #{calc(2 * $global-black)};
    --primary-dark-accent1-l: #{calc(4 * $global-black)};
    --primary-dark-accent2-l: #{calc(8 * $global-black)};
    --primary-dark-accent3-l: #{calc(12 * $global-black)};
    --primary-dark-accent4-l: #{calc(16 * $global-black)};
    --primary-dark-accent5-l: #{calc(20 * $global-black)};
    --primary-dark-accent6-l: #{calc(35 * $global-black)};
    --primary-dark-accent7-l: #{calc(40 * $global-black)};
    --primary-dark-accent8-l: #{calc(45 * $global-black)};
    --primary-h-delete: 0;
    --primary-s-delete: 30%;
    --primary-l-delete: #{calc(0.7 * $global-red)};
    --primary-l-delete-hover: #{calc(0.5 * $global-red)};
    --primary-l-delete-active: #{calc(0.3 * $global-red)};
    --primary-l-delete-disabled: #{calc(0.9 * $global-red)};
    --rounded-default: #{$global-border-radius};
    --padding-large: #{$global-padding-large};
    --padding-small: #{$global-padding-small};
  }
  :root {
    --color-base: var(--primary-h) var(--primary-s) var(--primary-l);
    --color-bkg: var(--primary-h) var(--primary-s) var(--primary-light-l);
    --color-content: var(--primary-h) var(--primary-s)
      var(--primary-light-content-l);
    --color-accent0: var(--primary-h) var(--primary-s)
      var(--primary-light-accent0-l);
    --color-accent1: var(--primary-h) var(--primary-s)
      var(--primary-light-accent1-l);
    --color-accent2: var(--primary-h) var(--primary-s)
      var(--primary-light-accent2-l);
    --color-accent3: var(--primary-h) var(--primary-s)
      var(--primary-light-accent3-l);
    --color-accent4: var(--primary-h) var(--primary-s)
      var(--primary-light-accent4-l);
    --color-accent5: var(--primary-h) var(--primary-s)
      var(--primary-light-accent5-l);
    --color-accent6: var(--primary-h) var(--primary-s)
      var(--primary-light-accent6-l);
    --color-accent7: var(--primary-h) var(--primary-s)
      var(--primary-light-accent7-l);
    --color-accent8: var(--primary-h) var(--primary-s)
      var(--primary-light-accent8-l);
    --color-delete: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete);
    --color-delete-hover: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-hover);
    --color-delete-active: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-active);
    --color-delete-disabled: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-disabled);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-base: var(--primary-h) var(--primary-s) var(--primary-l);
      --color-bkg: var(--primary-h) var(--primary-s) var(--primary-dark-l);
      --color-content: var(--primary-h) var(--primary-s)
        var(--primary-dark-content-l);
      --color-accent0: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent0-l);
      --color-accent1: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent1-l);
      --color-accent2: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent2-l);
      --color-accent3: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent3-l);
      --color-accent4: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent4-l);
      --color-accent5: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent5-l);
      --color-accent6: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent6-l);
      --color-accent7: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent7-l);
      --color-accent8: var(--primary-h) var(--primary-s)
        var(--primary-dark-accent8-l);
      --color-delete-active: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete);
      --color-delete-hover: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-hover);
      --color-delete: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-active);
      --color-delete-disabled: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-disabled);
    }
  }
  :root[data-theme='dark'] {
    --color-base: var(--primary-h) var(--primary-s) var(--primary-l);
    --color-bkg: var(--primary-h) var(--primary-s) var(--primary-dark-l);
    --color-content: var(--primary-h) var(--primary-s)
      var(--primary-dark-content-l);
    --color-accent0: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent0-l);
    --color-accent1: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent1-l);
    --color-accent2: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent2-l);
    --color-accent3: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent3-l);
    --color-accent4: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent4-l);
    --color-accent5: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent5-l);
    --color-accent6: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent6-l);
    --color-accent7: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent7-l);
    --color-accent8: var(--primary-h) var(--primary-s)
      var(--primary-dark-accent8-l);
    --color-delete-active: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete);
    --color-delete-hover: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-hover);
    --color-delete: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-active);
    --color-delete-disabled: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-disabled);
  }
  :root[data-theme='light'] {
    --color-base: var(--primary-h) var(--primary-s) var(--primary-l);
    --color-bkg: var(--primary-h) var(--primary-s) var(--primary-light-l);
    --color-content: var(--primary-h) var(--primary-s)
      var(--primary-light-content-l);
    --color-accent0: var(--primary-h) var(--primary-s)
      var(--primary-light-accent0-l);
    --color-accent1: var(--primary-h) var(--primary-s)
      var(--primary-light-accent1-l);
    --color-accent2: var(--primary-h) var(--primary-s)
      var(--primary-light-accent2-l);
    --color-accent3: var(--primary-h) var(--primary-s)
      var(--primary-light-accent3-l);
    --color-accent4: var(--primary-h) var(--primary-s)
      var(--primary-light-accent4-l);
    --color-accent5: var(--primary-h) var(--primary-s)
      var(--primary-light-accent5-l);
    --color-accent6: var(--primary-h) var(--primary-s)
    var(--primary-light-accent6-l);
    --color-accent7: var(--primary-h) var(--primary-s)
      var(--primary-light-accent7-l);
    --color-accent8: var(--primary-h) var(--primary-s)
      var(--primary-light-accent8-l);
    --color-delete: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete);
    --color-delete-hover: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-hover);
    --color-delete-active: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-active);
    --color-delete-disabled: var(--primary-h-delete) var(--primary-s-delete) var(--primary-l-delete-disabled);
  }

  body {
    background-color: hsl(var(--color-bkg));
    color: hsl(var(--color-content));
    font-size: medium;
    font-weight: 300;
  }
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--color-accent2)); /* Color of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(
    var(--color-accent2)
  ); /* Color of the scrollbar handle on hover */
}

/* Firefox */
html {
  scrollbar-color: hsl(var(--color-accent2)) transparent; /* thumb color, track color */
  scrollbar-width: thin; /* "auto" or "thin" */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  @apply flex w-full bg-transparent justify-center px-5 py-5
}

.flex-col-w-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1, h2, h3 {
  background-color: transparent;
}

h1 {
  font-weight: 700;
  color: hsl(var(--color-accent8));
  font-size: xx-large;
}
h2 {
  font-weight: 600;
  color: hsl(var(--color-accent7));
  font-size: x-large;
}
h3 {
  font-weight: 500;
  color: hsl(var(--color-accent6));
  font-size: large;
}

p {
  font-weight: 300;
  color: hsl(var(--color-content));
  font-size:medium;
}

label {
  // min-width: 6rem;
  font-weight: 600;
  line-height: 1em;
  color: hsl(var(--color-accent6));
  @apply flex min-w-fit md:min-w-[6rem]
}

h1.description {
  display: flex;
  padding: 0px;
  line-height: 1em;
  color: hsl(var(--color-accent8));
}

.link {
  color: hsl(var(--color-accent6));
}

.link:hover, .link-hovered {
  color: hsl(var(--color-accent7));
  font-weight: 500;
}

.link:active, .link-activated {
  color: hsl(var(--color-accent8));
  font-weight: 500;
}

.link-active {
  color: hsl(var(--color-accent7));
  font-weight: 600;
  border: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  width:fit-content;
}

.card {
  background-color: hsl(var(--color-accent1));
  border: hsl(var(--color-accent2));
  border-radius: $global-border-radius;
  @apply relative w-full py-small px-large flex flex-col gap-large;
}



div.card form.card {
  @apply px-0 py-0
}

div.card-button-row {
  @apply flex w-full h-full items-center justify-between;
}

div.card-button-row-button {
  @apply flex w-1/3 h-full items-center justify-center z-10;
}

div.card-title-row {
  @apply flex h-full w-full overflow-auto p-small;
}

p.cart-title-row-title {
  @apply flex h-full text-wrap items-center text-xl break-words;
}

.task-editor-card {
  background-color: hsl(var(--color-accent1));
  border: hsl(var(--color-accent2));
  border-radius: $global-border-radius;
  @apply flex w-full pt-12 md:pt-5 pb-5 px-5
}

.card-nulluser {
  background-color: hsl(var(--color-accent5));
  border: hsl(var(--color-accent5));
  border-left-width: 10px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  /* border-width: 1px; */
  border-style: solid;
  border-radius: $global-border-radius;
}

div.card-nulluser div {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: $global-border-radius;
  padding: $global-padding-large;
  background-color: hsl(var(--color-accent1));
}

textarea {
  background-color: transparent;
  border: hsl(var(--color-accent2));
  border-width: 1px;
  border-style: solid;
}

.description-input {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 8px;
  border-radius: $global-border-radius;
  background-color: transparent;
  border-color: transparent;
  border: 0px;
  @apply block w-full text-accent-5 focus:text-content focus:placeholder:text-content placeholder-shown:text-accent-3 outline-none overflow-auto items-center justify-center;
}
.description-input-create {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 48px;
  padding-right: 8px;
  border-radius: $global-border-radius;
  background-color: hsla(var(--color-accent3) / 0.9);
  border-color: transparent;
  border: 0px;
  @apply block w-full placeholder:text-accent-4 focus:placeholder:text-content placeholder-shown:text-accent-5 outline-none overflow-auto;
}

.textarea-icon {
  @apply absolute top-1/2 -translate-y-1/2 left-3 h-5 w-5 stroke-accent-6 peer-focus:stroke-content peer-placeholder-shown:stroke-accent-4 z-10;
}

input[type='text'] {
  // color: hsl(var(--color-content));
  color: hsl(var(--color-accent7));
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: hsl(var(--color-accent3));
  width: 100%;
  padding-left: 4px;
}

input[type='text'].material-disabled {
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding-left: 4px;
  @apply cursor-not-allowed border-accent-5/30 text-accent-7/30
}

input[type='password'] {
  color: hsl(var(--color-content));
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: hsl(var(--color-accent3));
  width: 100%;
}

input[type='text'].description {
  display: flex;
  width: 100%;
  @apply pt-5;
}

input[type="checkbox"] {
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid hsl(var(--color-accent6));
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type='checkbox']:hover::before, input.hovered {
  outline: 1px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: hsl(var(--color-accent3));
  outline-style: solid;
  border-radius: 4px;
}

/* Tick mark */
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 10px;
  border: solid hsl(var(--color-accent6));;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked::before {
  background-color: hsl(var(--color-accent1)); /* Background color when checked */
  border: 2px solid hsl(var(--color-accent6));
  border-radius: 4px;
}

input[type='checkbox']:active::before, input.activated {
  outline: 1px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: hsl(var(--color-accent4));
  outline-style: solid;
  border-radius: 4px;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

select {
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: hsl(var(--color-accent5));
  color: hsl(var(--color-accent7));
}

select:focus, select.select-focused {
  outline: 1px;
  outline-style: solid;
  outline-color: hsl(var(--color-accent3));
  border-radius: 4px;
  border-bottom: 0px;
}

select.material-disabled {
  @apply flex flex-col cursor-not-allowed border-accent-5/30 text-accent-7/30;
}



.icon {
  background-color: transparent;
  transition-delay: 50ms;
  @apply stroke-accent-6 group-hover:stroke-accent-8 group-active:stroke-accent-1 transition ease-in-out;
}

.icon-disabled {
  @apply cursor-not-allowed stroke-accent-2 group-hover:stroke-accent-2 group-active:stroke-accent-2;
}

.drag-icon {
  @apply fill-accent-5 hover:fill-accent-6 active:fill-accent-7 hover:cursor-move w-10 h-10 md:w-6 md:h-6 focus:fill-accent-5;
}

.card-pencil-button {
  @apply icon absolute flex top-0 right-0 mt-2 mr-20 md:mr-12 justify-center items-center;
}

.card-pencil-icon {
  @apply w-10 h-10 md:w-6 md:h-6;
}

.icon-topnavi {
  color: hsl(var(--color-accent4));
  background-color: transparent;
}
.icon-topnavi:hover, .icon-topnavi-hovered {
  color: hsl(var(--color-accent5));
}
.icon-topnavi:active, .icon-topnavi-activated {
  color: hsl(var(--color-accent6));
}

.icon-bottomnavi {
  color: hsl(var(--color-accent6));
  background-color: transparent;
}
.icon-bottomnavi:hover, .icon-bottomnavi-hovered {
  color: hsl(var(--color-accent7));
}
.icon-bottomnavi:active, .icon-bottomnavi-activated {
  color: hsl(var(--color-accent8));
}

.pending-icon {
  color: hsl(var(--color-accent2));
  cursor: not-allowed;
}
.pending-icon:hover, .pending-icon-hovered {
  color: hsl(var(--color-accent3));
  cursor: not-allowed;
}

.topnavi {
  background-color: hsl(var(--color-bkg));
  opacity: 1;
}

ul.topnavi {
  color: hsl(var(--color-accent5));
}

.bottom-navi {
  background-color: hsl(var(--color-accent3));
}

ul.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-position: outside;
  row-gap: 8px;
}

li.description {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  line-height: 2rem;
}

div.description-container {
  display: flex;
  width: 100%;
}

.palette:hover, .palette-hovered {
  outline: 3px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: hsl(var(--color-accent4));
  outline-style: solid;
}

.palette:active, .palette-activated{
  outline: 3px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: hsl(var(--color-accent5));
  outline-style: solid;
}

.palette-selected {
  outline: 3px;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: hsl(var(--color-accent6));
  outline-style: solid;
}


button.formActionButton {
  background-color: hsl(var(--color-accent4));
  box-shadow: inset 0 4px 6.8em hsl(var(--color-content) / 0.1);
  color: hsl(var(--color-accent7));
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
  padding-top: $global-padding-xs;
  padding-bottom: $global-padding-xs;
}

button.formActionButton:hover, button.formActionButton-hovered {
  background-color: hsl(var(--color-accent5));
  color: hsl(var(--color-accent7));
}
button.formActionButton:active, button.formActionButton-activated {
  background-color: hsl(var(--color-accent6));
  color: hsl(var(--color-accent1));
}

button.formActionButton-active {
  background-color: hsl(var(--color-accent5));
  box-shadow: inset 0 4px 6.8em hsl(var(--color-content) / 0.1);
  color: hsl(var(--color-accent2));
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
}

button.formActionButton-active:hover, button.formActionButton-active-hovered {
  background-color: hsl(var(--color-accent6));
  color: hsl(var(--color-accent2));
}
button.formActionButton-active:active, button.formActionButton-active-activated {
  background-color: hsl(var(--color-accent7));
  color: hsl(var(--color-accent1));
}

button.formActionButtonCheck {
  background-color: transparent;
  border-color: hsl(var(--color-accent4));
  color: hsl(var(--color-accent6));
}
button.formActionButtonCheck:hover, button.formActionButtonCheck-hovered {
  background-color: transparent;
  border-color: hsl(var(--color-content));
  color: hsl(var(--color-accent6));
}
button.formActionButtonCheck:active, button.formActionButtonCheck-activated {
  background-color: transparent;
  border-color: hsl(var(--color-content));
  color: hsl(var(--color-accent7));
  @apply outline outline-2
}
button.formActionButtonCheck:active::after, button.formActionButtonCheck-activated::after {
  background-color: transparent;
  border-color: hsl(var(--color-accent4));
  color: hsl(var(--color-accent6));
}

button.formActionButtonCheck-pending {
  background-color: transparent;
  border-color: hsl(var(--color-bkg));
  color: hsl(var(--color-accent4));
  cursor: not-allowed;
}


button.pending {
  background-color: hsl(var(--color-accent2));
  color: hsl(var(--color-accent5));
  cursor: not-allowed;
  box-shadow: none;
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
}

.spinner-circle {
  stroke: hsl(var(--color-accent8));
}

.spinner-path {
  fill: hsl(var(--color-accent8));
}

.disable-button {
  background-color: hsl(var(--color-accent2));
  color: hsl(var(--color-accent5));
  cursor: not-allowed;
  box-shadow: none;
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
}
.disable-button:hover, .disable-button-hovered {
  background-color: hsl(var(--color-accent2));
  color: hsl(var(--color-accent5));
  cursor: not-allowed;
  box-shadow: none;
}
.disable-button:active, .disable-button-activated {
  background-color: hsl(var(--color-accent2));
  color: hsl(var(--color-accent5));
  cursor: not-allowed;
  box-shadow: none;
}

button.pending-delete {
  background-color: hsl(var(--color-delete));
  color: hsl(var(--color-accent2));
  cursor: not-allowed;
  box-shadow: inset 0 4px 6.8em hsl(var(--color-content) / 0.25);
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
}

button.delete {
  background-color: hsl(var(--color-delete));
  box-shadow: inset 0 4px 6.8em hsl(var(--color-bkg) / 0.1);
  color: hsl(var(--color-accent7));
  border-radius: $global-border-radius;
  padding-left: $global-padding-small;
  padding-right: $global-padding-small;
}

button.delete:hover, button.delete-hovered {
  background-color: hsl(var(--color-delete-hover));
  box-shadow: inset 0 4px 6.8em hsl(var(--color-bkg) / 0.1);
  color: hsl(var(--color-accent7));
}

button.delete:active, button.delete-activated {
  background-color: hsl(var(--color-delete-active));
  box-shadow: inset 0 4px 6.8em hsl(var(--color-bkg) / 0.1);
  color: hsl(var(--color-accent1));
}

.resposive .react-colorful {
  width: auto;
}

// Model editor modal

.modal-outer {
  @apply fixed flex top-0 left-1/2 -translate-x-1/2 w-full h-full justify-center bg-bkg/90 items-end md:items-center;
}
.modal-inner {
  @apply flex flex-col bg-accent-1/90 rounded-cool backdrop-blur-sm mx-2 pb-5 shadow-md;
}
.modal-inner-edit-list {
  @apply max-h-[85vh] my-5;
}
.modal-inner-edit-model {
  @apply h-fit my-2 max-h-[55vh] md:max-h-[70vh] ;
}
.modal-button-confirmation {
  @apply cursor-not-allowed opacity-10;
}

// Model editor

.model-editor {
  @apply flex items-center;
}

.model-editor-edit-model {
  @apply fixed h-full top-[48px] left-1/2 -translate-x-1/2 bg-purple-400/0 max-h-[25vh] md:max-h-[25vh] pb-5 z-10;
}

.model-editor-preview {
  @apply justify-center relative w-full;
}


// Button animations

.button-form-isdirty-background {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyBackground;
  animation-iteration-count: infinite;
  // animation-direction: alternate;
  display: flex;
  width: 100px;
  height: 100px;
  // background: radial-gradient(blue, pink);
  justify-content: center;
  align-items: center;
  padding: 20px;
  // border: 4px;
  border-style: solid;
  border-color: hsl(var(--color-bkg));
  // border-radius: #{calc(1.5 * $global-border-radius)};
  @apply bg-gradient-radial from-blue-400 to-pink-400
}



.button-form-isdirty-inner-1 {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyInner1;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  // border: 2px;
  // border-style: solid;
  // border-color: hsl(var(--color-bkg));
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  // background-color: hsl(var(--color-bkg));
  border-radius: #{$global-border-radius};
  @apply outline-bkg/40
}
.button-form-isdirty-inner-2 {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyInner;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px;
  // border-style: solid;
  // border-color: hsl(var(--color-bkg));
  padding: 4px;
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  width: 100%;
  height: 100%;
  border-radius: #{$global-border-radius};
  @apply outline-bkg/60
}
.button-form-isdirty-inner-3 {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyInner;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  // border: 2px;
  // border-style: solid;
  // border-color: hsl(var(--color-bkg));
  width: 100%;
  height: 100%;
  border-radius: #{$global-border-radius};
  @apply outline-bkg/80
}
.button-form-isdirty-inner-4 {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyInner;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px;
  // border-style: solid;
  // border-color: hsl(var(--color-bkg));
  padding: 4px;
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  // outline-color: hsl(var(--color-bkg));
  width: 100%;
  height: 100%;
  
  border-radius: #{$global-border-radius};
  @apply bg-bkg outline-bkg/100
}

.button-form-isdirty-inner {
  animation-duration: 1.5s;
  // animation-name: formIsDirtyInner;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: hsl(var(--color-bkg));
  width: 100%;
  height: 100%;
  background-color: hsl(var(--color-bkg));
  border-radius: #{$global-border-radius};
  
}
// .button-form-isdirty-inner-inner {
//   // animation-duration: 1.5s;
//   // // animation-name: formIsDirtyInnerInner;
//   // animation-iteration-count: infinite;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // border-style: dashed;
//   // border-color: transparent;
//   // border: 2px;
//   // width: 100%;
//   // height: 100%;
//   // background-color: black;
//   // // opacity: 0.5;
//   // padding: 4px;
//   // @apply absolute

// }

@keyframes formIsDirtyInner1 {
  from {
    width: 50px;
    height: 50px;
    @apply bg-gradient-radial from-blue-400/0 to-pink-400/0
  }

  10% {
    width: 50px;
    height: 50px;
    @apply bg-gradient-radial from-blue-400/30 to-pink-400/30
  }
  20% {
    width: 50px;
    height: 50px;
    @apply bg-gradient-radial from-blue-400/60 to-pink-400/60
  }
  30% {
    width: 50px;
    height: 50px;
    @apply bg-gradient-radial from-blue-400/100 to-pink-400/100
  }
  40% {
    width: 52px;
    height: 52px;
    @apply bg-gradient-radial from-blue-400/70 to-pink-400/70
  }
  50% {
    width: 54px;
    height: 54px;
    @apply bg-gradient-radial from-blue-400/50 to-pink-400/50
  }
  60% {
    width: 56px;
    height: 56px;
    @apply bg-gradient-radial from-blue-400/40 to-pink-400/40
  }
  70% {
    width: 58px;
    height: 58px;
    @apply bg-gradient-radial from-blue-400/30 to-pink-400/30
  }
  80% {
    width: 60px;
    height: 60px;
    @apply bg-gradient-radial from-blue-400/20 to-pink-400/20
  }
  90% {
    width: 62px;
    height: 62px;
    @apply bg-gradient-radial from-blue-400/10 to-pink-400/10
  }
  
  to {
    width: 62px;
    height: 62px;
    @apply bg-transparent
  }
}
@keyframes formIsDirtyInner {
  from {
    fill: radial-gradient(blue, pink);
    fill-opacity: 1;
  }
  
  to {
    fill: radial-gradient(blue, pink);
    fill-opacity: 0;
  }
}
@keyframes formIsDirtyInnerInner {
  from {
    width: 60px;
    height: 60px;
  }
  
  to {
    width: 90px;
    height: 90px;
  }
}

.button-form-isdirty {
  animation-duration: 1.5s;
  animation-name: formIsDirty;
  animation-iteration-count: infinite;
}

@keyframes formIsDirty {
  from {
    outline: auto;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 1px;
    outline-color: hsl(var(--color-accent7));
  }
  
  to {
    outline: auto;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 5px;
    outline-color: transparent;
  }
}

.task-carousel-gradient-mask {
  @apply flex sticky from-transparent to-bkg to-80% w-full z-20 select-none border-0 rounded-t-cool hover:bg-accent-2/30 hover:from-accent-2/30 hover:to-accent-2/30 hover:to-80% hover:border hover:rounded-cool hover:border-accent-4;
}
